.venv
.DS_Store
week-01-automation-multivendor/fortinet-fortios-cli-5.11/
week-01-automation-multivendor/juniper-junos-nc-4.18/
week-01-automation-multivendor/cisco-asa-cli-6.18/
week-01-automation-multivendor/cisco-iosxr-cli-7.69/
actions-runner/
*__pycache__/